/*Add CSS styling below*/
body {
	width:800px;
	font-family:"Verdana";
}

/*styling for header*/
header {
	height:100px;
	background-color:#009999;
	color:white;
	text-align:center;
}

/*styling for main heading*/
h1 {
	margin-top:0px;
	margin-bottom:0px;
}

/*styling for subheading in header*/
h3 {
	font-size:20px;
	margin-top:5px;
	margin-bottom:0px;
}

/*styling for subheading in content area*/
h2 {
	color:#FFAA00;
	font-size:20px;
	margin-top:0px;
	margin-bottom:30px;
}

/*nav bar*/
nav {
	height:260px;
	width:150px;
	float:left;
	background-color:#FFD073;
	border:1px solid black;
	margin-right:20px;
	margin-bottom:20px;
}

/*remove bullet points and space out list*/
li {
	list-style-type:none;
	line-height:3;
}

/*nav bar list*/
ul {
	margin:0px;
	padding-left:0px;
	text-align:center;
}

/*styling for nav bar link*/
a {
	color:#A64B00;
	font-weight:bold;
}

/*main content area*/
.maincontent {
	background-color:#006363;
	color:white;
	font-size:14px;
	padding-bottom:20px;
	padding-top:20px;
}

/*float video player left*/
.vid {
	float:left;
	margin:0px 20px 0px 20px;
}

.lastpar {
	padding-left:15px;
	padding-right:15px;
}

/*styling for footer*/
footer {
	height:50px;
	background-color:#FFD073;
	font-size:11px;
	text-align:center;
	color:#A64B00;
}

/*move footer paragraph up to top of footer*/
#footerp {
	margin:0px;
	padding:5px 0px 0px 0px;
}
