/*Add CSS styling below*/
body {
	width:800px;
	font-family:"Verdana";
}

/*styling for header*/
header {
	height:100px;
	background-color:#009999;
	color:white;
	text-align:center;
}

/*styling for main heading in header*/
h1 {
	margin-top:0px;
}

/*styling for subheading in main content are*/
h2 {
	color:#FFAA00;
	font-size:20px;
	margin-top:0px;
	margin-bottom:30px;
}

/*styling for nav bar*/
nav {
	height:260px;
	width:150px;
	float:left;
	background-color:#FFD073;
	border:1px solid black;
	margin-right:20px;
	margin-bottom:20px;
}

/*remove bullet points and space out list*/
li {
	list-style-type:none;
	line-height:3;
}

/*styling for list*/
ul {
	margin:0px;
	padding-left:0px;
	text-align:center;
}

/*styling for links*/
a {
	color:#A64B00;
	font-weight:bold;
}

/*styling for main content area*/
.maincontent {
	background-color:#006363;
	color:white;
	font-size:14px;
	padding-bottom:10px;
	padding-top:20px;
}

/*move last paragraphs to the left*/
.lastpar {
	padding-left:15px;
	padding-right:15px;
}

/*styling for aside*/
aside {
	width:200px;
	height:260px;
	float:right;
	background-color:#FFD073;
	border:1px solid black;
	text-align:center;
	margin-left:20px;
	margin-bottom:20px;
	color:#A64B00;
	font-weight:bold;
}

aside p {
	padding-bottom:0px;
	margin-top:8px;
}

/*styling for footer*/
footer {
	height:50px;
	background-color:#FFD073;
	font-size:11px;
	text-align:center;
	color:#A64B00;
}

#footerp {
	margin:0px;
	padding:5px 0px 0px 0px;
}
